html, body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    padding-top: 70px;
}

td, th{
    padding: 0 !important;
    border: 2px solid black !important;
    text-align: center !important;
}

th {
    border-bottom: 4px solid black !important;
}

th:first-of-type {
    border-right: 4px solid black !important;
}
.charging{
    background-color: #75E854;
}

.square{
    height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.truck{
    border-right: 4px solid black !important;
    background-color: #EEEEEE;
}

.route{
    background-color: #A4E5F8;
}

.border{
    border: 1px solid #e5e5e5;
    padding: 5px;
}

button{
    margin: 10px !important;
}

.invalid-feedback{
    color: red;
    font-size: 10px;
}

.is-invalid{
    border: 1px solid red;
}